extends layout

block content
  h1= title
  - let watch=results
  div(class="container-fluid mt-3")
  div(class="row")
    each wat,index in watch
      div(class="col-sm-2 " onclick=`buy(${index})`) #{wat.Name} - #{wat.Company} - #{wat.Price} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }    