extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let watchid = toShow._id
  - let watchtype = toShow.Name
  - let watchcost = toShow.Company
  - let watchsize = toShow.Price
  - let actionid = "/resource/watches/" + watchid
   script let actionid = "#{actionid}"
   div
    div.row
      div(class='costumeAttr mr-3') watch ID is:
      div #{watchid}
    div.row
      div(class='costumeAttr mr-3') watch type is:
      div #{watchtype}
    div.row
      div(class='costumeAttr mr-3') watch cost is:
      div #{watchcost}
    div.row
      div(class='costumeAttr mr-3') watch size is:
      div #{watchsize}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/costumes'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/costumes'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }


